
<section class="result-header" style="margin: 10px 0 16px 0;">
  <h1 style="margin:0 0 6px 0; color:#fff; font-size: 22px;">Resultados da busca</h1>
  <p class="muted">Termo: “{{termo}}” • {{objetos.length}} resultado(s)</p>
  <hr style="border:none; border-top:1px solid rgba(255,255,255,.08); margin-top:10px;" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</section>

{{#if objetos.length}}
  <ul class="objetos-list">
    {{#each objetos}}
      <li class="objeto-item">
        <div class="imagem-container">
          {{#each this.imagens}}
            {{#if @first}}
              <img src="/uploads/{{getFileName this.img1}}" alt="Imagem do Objeto" />
            {{/if}}
          {{/each}}
        </div>
        <h3 class="objeto-nome"><strong>Recompensa: </strong><span class="recompensa-color">{{this.recompensa}}</span></h3>
        {{#if this.crime}}
          <p class="objeto-descricao"><strong>Crime:</strong> <span class="crime-color">{{this.crime}}</span></p>
        {{/if}}
        {{#if this.cor}}
          <p class="objeto-cor"><strong>Cor:</strong> {{this.cor}}</p>
        {{/if}}
        {{#if this.categoria}}
          <p class="objeto-categoria"><strong>Categoria:</strong> {{this.categoria}}</p>
        {{/if}}
        <p class="objeto-acoes"><a class="btn btn-secondary" href="/viewObjetos/{{this.id}}">Visualizar Objeto</a></p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="sem-objetos">Nenhum resultado encontrado para sua busca.</p>
{{/if}}
