
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <nav class="subguias-nav">
    <ul>
        <li><a href="/admincadObjeto">Cadastrar Objeto</a></li>         
        
    </ul>
</nav>
</head>

<body>
  <h1>Lista dos objetos cadastrados</h1>
    <div class="table-container">
 

        {{#if objetos.length}}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuário</th>
                        <th>Recompensa</th>
                        <th>Crime</th>
                        <th>Cor</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each objetos}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{usuario.nome}}</td>
                            <td>{{this.recompensa}}</td>
                            <td>{{this.crime}}</td>
                            <td>{{this.cor}}</td>
                            <td>{{this.categoria}}</td>
                            <td>
                               <div class="objeto-acoes">
                                  
                                  <button class="btn-editar" onclick="window.location.href='/editarobjeto/{{this.id}}'">Editar</button>
                                  <button class="btn-ver" onclick="window.location.href='/viewObjetos/{{this.id}}'">  Ver  </button>
                                    <form action="/excluirObjeto/{{this.id}}" method="POST" style="display:inline;" onsubmit="return confirm('Tem certeza de que deseja excluir este objeto?');">
                                        <button type="submit" class="btn-excluir">Excluir</button>
                                    </form>
                                 
                              </div>
                               
                               </td>

                              
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>Nenhum objeto cadastrado.</p>
        {{/if}}

        
    </div>
</body>
</html>