<div class="login-container">
    <h2>Editar Objeto</h2>
    <form action="/editarobjeto/{{objeto.id}}" method="POST" enctype="multipart/form-data">
<div class="form-group">
    <label for="objectName">Nome do Objeto:</label>
    <input type="text" id="objectName" name="objectName" placeholder="Ex.: iPhone 12 Preto, Honda CG 160, etc." value="{{objeto.nomeobjeto}}" required>
</div>

<div class="form-group image-container" id="image-fields">
            <label>Imagens cadastradas:</label>

            {{#each imagens}}
                <div class="image-group">
                    <!-- Formulário separado para exclusão da imagem -->
                    <div class="image-preview" id="image-preview-{{@index}}">
                        <img src="{{imageSrc this.img1}}" alt="Imagem do Objeto" style="width: 200px; height: auto; margin-bottom: 10px;" />

                    </div>
                </div>
            {{/each}}

        <div class="form-group image-container" id="image-fields">
            <label for="image1">Escolher nova imagem:</label>
            <input type="file" id="image1" name="images" accept="image/*" onchange="previewImages(event, 1)">
            <div class="image-preview" id="image-preview1"></div>
        </div>
    
</div>
    <div class="form-group image-buttons">
            <button type="button" class="adicionar-imagens" onclick="addImageField()">Adicionar imagem</button>
            <button type="button" class="excluir-imagens" onclick="removeImageField()">Excluir imagem</button>
        </div>

        <div class="form-group">
            <label for="reward">Valor da Recompensa:</label>
            <input type="text" id="reward" name="reward" value="{{objeto.recompensa}}" required oninput="formatCurrency(this)">
        </div>


        <div class="form-group">
            <label for="crimeType">Tipo de Crime:</label>
            <select id="crimeType" name="crimeType" required>
                <option value="Roubo" {{#ifEquals objeto.crime "Roubo"}}selected{{/ifEquals}}>Roubo</option>
                <option value="Furto" {{#ifEquals objeto.crime "Furto"}}selected{{/ifEquals}}>Furto</option>
                <option value="Outro" {{#ifEquals objeto.crime "Outro"}}selected{{/ifEquals}}>Outro</option>
            </select>
        </div>

        <div class="form-group">
            <label for="crimeDetails">Detalhes do Crime:</label>
            <textarea id="crimeDetails" name="crimeDetails" required>{{objeto.det_crime}}</textarea>
        </div>

        <div class="form-group">
            <label for="additionalInfo">Informações Adicionais:</label>
            <textarea id="additionalInfo" name="additionalInfo">{{objeto.inf_adicionais}}</textarea>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="Em andamento" {{#ifEquals objeto.status "Em andamento"}}selected{{/ifEquals}}>Em andamento</option>
                <option value="Recuperado" {{#ifEquals objeto.status "Recuperado"}}selected{{/ifEquals}}>Recuperado</option>
                <option value="Perdido" {{#ifEquals objeto.status "Perdido"}}selected{{/ifEquals}}>Perdido</option>
                <option value="Arquivado" {{#ifEquals objeto.status "Arquivado"}}selected{{/ifEquals}}>Arquivado</option>
            </select>
        </div>

<div class="form-group">
    <label for="status">Cor:</label>
    <select id="color" name="color" required>
        <option value="Vermelho" {{#ifEquals objeto.cor "Vermelho"}}selected{{/ifEquals}}>Vermelho</option>
        <option value="Amarelo" {{#ifEquals objeto.cor "Amarelo"}}selected{{/ifEquals}}>Amarelo</option>
        <option value="Azul" {{#ifEquals objeto.cor "Azul"}}selected{{/ifEquals}}>Azul</option>
        <option value="Laranja" {{#ifEquals objeto.cor "Laranja"}}selected{{/ifEquals}}>Laranja</option>
        <option value="Verde" {{#ifEquals objeto.cor "Verde"}}selected{{/ifEquals}}>Verde</option>
        <option value="Roxo" {{#ifEquals objeto.cor "Roxo"}}selected{{/ifEquals}}>Roxo</option>
        <option value="Preto" {{#ifEquals objeto.cor "Preto"}}selected{{/ifEquals}}>Preto</option>
        <option value="Branco" {{#ifEquals objeto.cor "Branco"}}selected{{/ifEquals}}>Branco</option>
        <option value="Cinza" {{#ifEquals objeto.cor "Cinza"}}selected{{/ifEquals}}>Cinza</option>
        <option value="Marrom" {{#ifEquals objeto.cor "Marrom"}}selected{{/ifEquals}}>Marrom</option>
        <option value="Outro" {{#ifEquals objeto.cor "Outro"}}selected{{/ifEquals}}>Outro</option>
    </select>
</div>



        <div class="form-group">
            <label for="category">Categoria:</label>
            <select id="category" name="category" required onchange="handleCategoryChange()">
                <option value="eletronico" {{#ifEquals objeto.categoria "eletronico"}}selected{{/ifEquals}}>Eletrônico</option>
                <option value="veiculo" {{#ifEquals objeto.categoria "veiculo"}}selected{{/ifEquals}}>Veículo</option>
                <option value="outro" {{#ifEquals objeto.categoria "outro"}}selected{{/ifEquals}}>Outro</option>
            </select>
        </div>

        <!-- Campos para eletrônicos -->
        <div id="eletronicoFields" class="category-fields" style="display: {{#ifEquals objeto.categoria "eletronico"}}block{{else}}none{{/ifEquals}};">
            <div class="form-group">
                <label for="identifier">Código Identificador:</label>
                <input type="text" id="identifier" name="identifier" value="{{eletronico.cod_identificador}}">
            </div>
            <div class="form-group">
                <label for="brandEletronico">Marca:</label>
                <input type="text" id="brandEletronico" name="brandEletronico" value="{{eletronico.marca}}">
            </div>
            <div class="form-group">
                <label for="modelEletronico">Modelo:</label>
                <input type="text" id="modelEletronico" name="modelEletronico" value="{{eletronico.modelo}}">
            </div>
            <div class="form-group">
                <label for="objectType">Tipo:</label>
                    <select id="objectType" name="objectType">
                        <option value="" disabled {{#unless eletronico.tipo}}selected{{/unless}}>Selecione</option>
                        <option value="celular" {{#ifEquals eletronico.tipo "celular"}}selected{{/ifEquals}}>Celular</option>
                        <option value="tv" {{#ifEquals eletronico.tipo "tv"}}selected{{/ifEquals}}>TV</option>
                        <option value="relogio" {{#ifEquals eletronico.tipo "relogio"}}selected{{/ifEquals}}>Relógio</option>
                        <option value="outro" {{#ifEquals eletronico.tipo "outro"}}selected{{/ifEquals}}>Outro</option>
                    </select>

            </div>
        </div>

        <!-- Campos para veículos -->
        <div id="veiculoFields" class="category-fields" style="display: {{#ifEquals objeto.categoria "veiculo"}}block{{else}}none{{/ifEquals}};">
            <div class="form-group">
                <label for="modelVehicle">Modelo:</label>
                <input type="text" id="modelVehicle" name="modelVehicle" value="{{veiculo.modelo}}">
            </div>
            <div class="form-group">
                <label for="brandVehicle">Marca:</label>
                <input type="text" id="brandVehicle" name="brandVehicle" value="{{veiculo.marca}}">
            </div>
            <div class="form-group">
                <label for="plate">Placa:</label>
                <input type="text" id="plate" name="plate" value="{{veiculo.placa}}">
            </div>
            <div class="form-group">
                <label for="chassis">Chassi:</label>
                <input type="text" id="chassis" name="chassis" value="{{veiculo.chassi}}">
            </div>
                 <div class="form-group">
                    <label for="vehicleType">Tipo:</label>
                        <select id="vehicleType" name="vehicleType">
                            <option value="" disabled {{#unless veiculo.tipo}}selected{{/unless}}>Selecione</option>
                            <option value="carro" {{#ifEquals veiculo.tipo "carro"}}selected{{/ifEquals}}>Carro</option>
                            <option value="moto" {{#ifEquals veiculo.tipo "moto"}}selected{{/ifEquals}}>Moto</option>
                            <option value="caminhao" {{#ifEquals veiculo.tipo "caminhao"}}selected{{/ifEquals}}>Caminhão</option>
                            <option value="outros" {{#ifEquals veiculo.tipo "outros"}}selected{{/ifEquals}}>Outro</option>
                        </select>

                </div>
        </div>
            <div class="form-actions">
                    <button type="submit">Salvar</button>
                    <button type="button" class="cancel-button" onclick="history.back()">Cancelar</button>
                </div>
            </form>
        </div>
           



